# Ignorar node_modules
node_modules
#Ignorar node-persist
.node-persist
#Ignorar .env
*.env
#Ignorar arquivo de teste
test.js
#Ignorar logs
*.log
logs/session/*
#Ignorar arquivos temporarios
temp
#Ignorar DB e etc
storage
# Codigo JS
dist
#Sessao
session
