# Ignore node_modules folder
node_modules

# Ignore Session data
*.data.json

#Ignore node-persist
.node-persist

#Ignore json
lib/*.json

#Ignore .ev
.env

#Ignore .log
*.log

#Ignore media files
media/aswu.mp4
media/img/noBg.png
media/output.gif
media/tts/*.mp3
media/tts/nope.txt
